.product-page {
    width: 82%;
    padding: 50px 0;
    margin: 0 auto;

    .product {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 50px;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .left-product {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .left-item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                img {
                    height: 100px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .right-item {
                img {
                    height: 430px;
                    max-width: 500px;
                    object-fit: contain;
                    border-radius: 10px;

                    @media (max-width: 500px) {
                        max-width: 300px;
                    }
                }
            }
        }

        .right-product {
            h2 {
                font-size: 30px;
                margin-bottom: 10px;
                text-align: right;
            }

            .stars {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;

                .imgs {
                    display: flex;
                    gap: 2px;
                }
            }

            .price {
                display: flex;
                gap: 10px;
                font-size: 18px;
                margin-bottom: 10px;

                .old-price {
                    text-decoration: line-through;
                    color: grey;
                }

                .new-price {
                    color: red;
                }
            }

            h3 {
                margin: 10px 0;
            }

            .des {
                text-align: right;
            }

            .select {
                text-align: right;
            }

            .sizes {
                display: flex;
                gap: 10px;
                margin-bottom: 15px;

                span {
                    border: 1px solid grey;
                    width: 45px;
                    height: 45px;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: .4s;

                    &:hover {
                        background: rgb(216, 216, 216);
                        border-color: transparent;
                    }
                }
            }

            button {
                background: red;
                color: white;
                border-radius: 10px;
                border: none;
                padding: 10px 30px;
                cursor: pointer;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .category,
            .tags {
                font-size: 14px;
            }
        }
    }


    .description {
        margin-top: 100px;

        .spans {

            span {
                display: inline-block;
                border: 1px solid grey;
                padding: 10px 20px;
                font-weight: bold;
                cursor: pointer;

                &.reviews {
                    font-weight: normal;
                    color: grey;
                }
            }
        }

        p {
            border: 1px solid grey;
            padding: 10px 20px;
        }
    }
}